@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*{
    font-family: "Plus Jakarta Sans";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%!important;
    height: 100vh!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 250, 253)!important;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}