@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

@import "variables.css";

*{
    font-family: "Plus Jakarta Sans";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white!important;
}

@media screen and (min-width: 600px) {
    body{
        width: 100%!important;
        background-color: var(--very-light-grayish-blue)!important;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*------------NOTIFICACIONES------------*/

.notifications{
    background-color: var(--white);
    padding: 20px;
    border-radius: 30px;
}

@media screen and (min-width: 600px) {
    .notifications{
        width: 650px;
    }
}

.notifications .notification-counter{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.notifications .notification-counter .notifications-title{
    font-weight: 800;
    font-size: 18px;
    color: var(--very-dark-blue);
}

.notifications .notification-counter .notification-number{
    margin-left: 10px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 15%;
    padding: 1px 12px;
}

.notifications .notification-counter .mark-as-read{
    text-align: end;
    font-size: 14px;
    color: var(--dark-grayish-blue);
    cursor: pointer;
}

.notifications .notification{
    display: flex;
    padding: 20px;
    border-radius: 15px;
    margin: 15px 0px;
}

.notifications .unread-notification{
    background-color: var(--very-light-grayish-blue);
}

.notifications .notification .profile{
    float: left;
}

.notifications .notification .notification-description{
    margin-left: 20px;
    font-size: 14px;
    color: var(--dark-grayish-blue);
}

.notifications .notification .notification-description .username{
    font-weight: 800;
    color: var(--very-dark-blue);
    cursor: pointer;
}

.notifications .notification .notification-description .post{
    font-weight: 800;
    cursor: pointer;
}

.notifications .notification .notification-description .group{
    font-weight: 800;
    color: var(--blue);
    cursor: pointer;
}

.notifications .notification .notification-description .time{
    color: var(--grayish-blue);
}

.notifications .notification .notification-description .message{
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0px;
    cursor: pointer;
}

.notifications .notification .post-image{
    float: right;
    margin-left: auto;
    cursor: pointer;
}

.notifications .notification .profile,
.notifications .notification .post-image{
    max-width: 40px;
    max-height: 40px;
}

.dot {
    height: 7px;
    width: 7px;
    margin-bottom: 2px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
    align-items: center;
}

.notifications .notification-counter .mark-as-read:hover,
.notifications .notification .notification-description .username:hover,
.notifications .notification .notification-description .post:hover,
.notifications .notification .notification-description .group:hover{
    color: var(--blue);
}

.notifications .notification .notification-description .message:hover{
    background-color: var(--light-grayish-blue-1);
}