@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*{
    font-family: "Plus Jakarta Sans";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white!important;
}

@media screen and (min-width: 600px) {
    body{
        width: 100%!important;
        height: 100vh!important;
        background-color: rgb(247, 250, 253)!important;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*------------NOTIFICACIONES------------*/

.notifications{
    background-color: white;
    padding: 20px;
}

.notifications .notification-counter{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.notifications .notification-counter .notifications-title{
    font-weight: 800;
    font-size: 18px;
    color: hsl(224, 21%, 14%);
}

.notifications .notification-counter .notification-number{
    margin-left: 10px;
    background-color: hsl(224, 21%, 14%);
    color: white;
    border-radius: 15%;
    padding: 1px 12px;
}

.notifications .notification-counter .mark-as-read{
    text-align: end;
    font-size: 14px;
    color: hsl(219, 14%, 63%);
}
